<app-navbar></app-navbar>
<div class="wrapper">
    <div class="page-header">
        <img class="path" src="assets/img/blob.png" />

        <img class="path2" src="assets/img/path2.png" />

        <img class="shapes triangle" src="assets/img/triunghiuri.png" />

        <img class="shapes wave" src="assets/img/waves.png" />

        <img class="shapes squares" src="assets/img/patrat.png" />

        <img class="shapes circle" src="assets/img/cercuri.png" />

        <div class="content-center">
            <div class="row row-grid justify-content-between align-items-center text-left">
                <div class="col-lg-7 col-md-7">
                    <h2 class="text-white">
                        Evaluer la compatibilite de votre projet ou application avec le cloud public<br />

                        <span class="text-white">Et trouver le provider approprie </span>
                    </h2>
                    <p class="text-white mb-3">
                        Avec notre plateforme, evaluer la compatibilite de votre application avec les plus grands
                        providers public GCP, AWS, ....
                    </p>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <img alt="Circle image" class="img-center img-fluid rounded-circle" src="assets/img/clouds2.png" />
                </div>
            </div>
        </div>
    </div>

    <section class="section">

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-coin card-plain">
                        <div class="card-header">
                            <img class="img-center img-fluid rounded-circle shadow" src="assets/img/cloud2.jpg" />
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h4 class="text-uppercase">Providers</h4>
                                    <hr class="line-primary" />
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-primary btn-simple" [routerLink]="['/providers']">Go to</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-coin card-plain">
                        <div class="card-header">
                            <img class="img-center img-fluid rounded-circle shadow" src="assets/img/rule.png" />
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h4 class="text-uppercase">Regles</h4>
                                    <hr class="line-primary" />
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-primary btn-simple" [routerLink]="['/regles']">Go to</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-coin card-plain">
                        <div class="card-header">
                            <img class="img-center img-fluid rounded-circle shadow" src="assets/img/project.png" />
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h4 class="text-uppercase">Projets</h4>
                                    <hr class="line-primary" />
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-primary btn-simple" [routerLink]="['/regles']">Go to</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-coin card-plain">
                        <div class="card-header">
                            <img class="img-center img-fluid rounded-circle shadow" src="assets/img/pricing.png" />
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h4 class="text-uppercase">Pricing</h4>
                                    <hr class="line-primary" />
                                </div>
                            </div>

                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-primary btn-simple" [routerLink]="['/pricing']">Go to</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <app-footer></app-footer>
</div>