<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="100" id="navbar-top">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" [routerLink]="['/management']" placement="bottom"
        tooltip="Designed and Coded by Creative Tim">
        <span>MoGueneApp </span>
      </a>
      <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div class="navbar-collapse justify-content-end" [collapse]="isCollapsed" id="navigation">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> MGA </a></div>
          <div class="col-6 collapse-close text-right">
            <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a class="nav-link btn btn-default btn-primary" [routerLink]="['/providers']" placement="bottom" tooltip="List des clouds">
            <i class="tim-icons icon-cloud-upload-94"> </i>Clouds
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link btn btn-default btn-primary" [routerLink]="['/projects']" placement="bottom" tooltip="List des projets">
            <i class="tim-icons icon-app"></i>Projets
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link btn btn-default btn-primary" [routerLink]="['/regles']" placement="bottom"
            tooltip="Les references d'applications cloud public ready">
            <i class="tim-icons icon-settings-gear-63"></i> Regles
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link btn btn-default btn-primary" [routerLink]="['/pricing']" placement="bottom"
            tooltip="Les gabarits de VMs et leurs facturation">
            <i class="tim-icons icon-coins"></i> Pricing
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-default btn-primary"  [routerLink]="['/management']">
            <i class="fas fa-home"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-default btn-primary" tooltip="Login" (click)="myModal2.show()">
            <i class="fas fa-sign-in-alt"> </i> login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo">MGA</h1>

        <h3>
          Plateforme de ranking de nos provider
        </h3>
      </div>
    </div>
  </div>



  <div class="section section-download" data-background-color="black" #target>
    <img class="path" src="assets/img/path1.png" />

    <div aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade modal-black" #myModal2="bs-modal"
      id="myModal2" role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div align="center" *ngIf="spinner" style="padding-top: 35%;">
          <ngx-spinner *ngIf="spinner" bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff"
            type="ball-scale-multiple">
            <div style="color: #f4696b" class="la-ball-clip-rotate-pulse la-3x">
              <div></div>
              <div></div>
            </div>
          </ngx-spinner>
        </div>
        <div *ngIf="!spinner" class="modal-content justify-content-center">
          <div class="modal-header justify-content-center">
            <button aria-hidden="true" class="close" data-dismiss="modal" (click)="myModal2.hide()" type="button">
              <i class="tim-icons icon-simple-remove text-white"> </i>
            </button>
            <div class="text-muted text-center ml-auto mr-auto">
              <h3 class="mb-0">Sign in with</h3>
            </div>
          </div>
          <div class="modal-body">
            <div class="btn-wrapper text-center">
              <a class="btn btn-neutral btn-icon mr-1" href="javascript:void(0)">
                <img src="assets/img/github.svg" />
              </a>
              <a class="btn btn-neutral btn-icon" href="javascript:void(0)">
                <img src="assets/img/google.svg" />
              </a>
            </div>
            <div class="text-center text-muted mb-4 mt-3">
              <small> Or sign in with credentials </small>
            </div>

            <alert *ngIf="notif" class="alert-with-icon" [type]="'danger alert-with-icon'" [dismissible]="true">
              <span class="tim-icons icon-bell-55" data-notify="icon"> </span>
              <span>
                <b> Oups! - </b> Une erreur c'est produite
              </span>
            </alert>

            <form role="form" [formGroup]="loginForm">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative" [ngClass]="{ 'input-group-focus': focus1 === true }">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="tim-icons icon-email-85"> </i>
                    </span>
                  </div>
                  <input class="form-control" placeholder="Username" type="email" (focus)="focus1 = true"
                    (blur)="focus1 = false" formControlName="username" required />
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative" [ngClass]="{ 'input-group-focus': focus2 === true }">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="tim-icons icon-key-25"> </i>
                    </span>
                  </div>
                  <input class="form-control" placeholder="Password" type="password" (focus)="focus2 = true"
                    (blur)="focus2 = false" formControlName="password" required />
                </div>
              </div>
              <div class="form-check mt-3">
                <label class="form-check-label">
                  <input checked="checked" class="form-check-input" type="checkbox" />

                  <span class="form-check-sign"> </span> Remember me!
                </label>
              </div>
              <div class="text-center">
                <button class="btn btn-primary my-4" type="button" (click)="submit()">
                  Sign in
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>