<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h1 class="title">MGA</h1>
        </div>
        <div class="col-md-1">
          <a class="nav-link" [routerLink]="['/providers']" placement="bottom" tooltip="List des clouds">
            <i class="tim-icons icon-cloud-upload-94"> </i> Clouds
          </a>
        </div>
        <div class="col-md-1">
          <a class="nav-link" [routerLink]="['/projects']" placement="bottom" tooltip="List des projets">
            <i class="tim-icons icon-app"></i> Projets
          </a>
        </div>
        <div class="col-md-1">
          <a class="nav-link" [routerLink]="['/regles']" placement="bottom"
            tooltip="Les references d'applications cloud public ready">
            <i class="tim-icons icon-settings-gear-63"></i> Regles
          </a>
        </div>
        <div class="col-md-1">
          <a class="nav-link" [routerLink]="['/pricing']" placement="bottom"
                tooltip="Les gabarits de VMs et leurs facturation">
                <i class="tim-icons icon-coins"></i> Pricing
              </a>
        </div>
        <div class="col-md-1">
          <a class="nav-link" [routerLink]="['/management']">
            <i class="fas fa-home"></i> home </a>
        </div>
      </div>
    </div>
  </footer>
